<%- include ('partials/showNavbar')  %> 
    <section class="wizard-section">
		<div class="row no-gutters">
			<div class="col-lg-6 col-md-6">
				<div class="wizard-content-left d-flex justify-content-center align-items-center">
					<h1>Selling your home have never been easier</h1>
                    
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="form-wizard">
					<form action="/listing" method="post" role="form"  enctype="multipart/form-data">
						<div class="form-wizard-header mt-5 pt-5">
							<p>Fill all form field to go next step</p>
							<ul class="list-unstyled form-wizard-steps clearfix">
								<li class="active"><span>1</span></li>
								<li><span>2</span></li>
								<li><span>3</span></li>
								<li><span>4</span></li>
							</ul>
						</div>
                        	<fieldset class="wizard-fieldset show">
							<h5>Personal Information</h5>
							<div class="form-group">
								<input type="text" class="form-control wizard-required" id="location" name='location'>
								<label for="location" class="wizard-form-text-label">Location*</label>
								<div class="wizard-form-error"></div>
							</div>
							<div class="form-group">
								<select class="form-control wizard-required" id="property" name='property'>
                                    <option value="" >Select property type...</option>
                                    <option value="House">House</option>
                                    <option value="Condo">Condo</option>
                                    <option value="Townhome">Townhome</option>
                                    <option value="Duplex">Duplex</option>
                                </select>
								<!-- <label for="lname" class="wizard-form-text-label">Last Name*</label> -->
								<div class="wizard-form-error"></div>
							</div>
                            <div class="form-group">
								<select class="form-control wizard-required" id="status" name='status'>
                                    <option value="" >Select Status....</option>
                                    <option value="Rent">Rent</option>
                                    <option value="Sale">Sale</option>
                                </select>
								<!-- <label for="lname" class="wizard-form-text-label">Last Name*</label> -->
								<div class="wizard-form-error"></div>
							</div>
							
                            <div class="form-group clearfix">
								<a href="javascript:;" class="form-wizard-next-btn float-right">Next</a>
							</div>
						</fieldset>	
                        <!-- STEP @ 2 -->
						<fieldset class="wizard-fieldset">
							<h5>Account Information</h5>
                            <div class="form-group">
								<select class="form-control wizard-required" id="bedroom" name='bedroom'>
                                    <option value="" >Select amount Bedroom...</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
								<div class="wizard-form-error"></div>
							</div>
                            <div class="form-group">
								<select class="form-control wizard-required" id="bathroom" name='bathroom'>
                                    <option value="" >Select amount Bathroom...</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
								<!-- <label for="lname" class="wizard-form-text-label">Last Name*</label> -->
								<div class="wizard-form-error"></div>
							</div>
                            <div class="form-group">
								<select class="form-control wizard-required" id="garage" name='garage'>
                                    <option value="" >Select amount Garage..</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
								<!-- <label for="lname" class="wizard-form-text-label">Last Name*</label> -->
								<div class="wizard-form-error"></div>
							</div>
                            <div class="form-group clearfix">
								<a href="javascript:;" class="form-wizard-previous-btn float-left">Previous</a>
								<a href="javascript:;" class="form-wizard-next-btn float-right">Next</a>
							</div>
						
						</fieldset>	
                        <!-- STEP @ 3-->
						<fieldset class="wizard-fieldset">
							<h5>Genereal Information</h5>
							<div class="form-group">
								<input type="number" class="form-control wizard-required" id="area" name='area'>
								<label for="area" class="wizard-form-text-label">SquareFeet</label>
								<div class="wizard-form-error"></div>
							</div>
                            <div class="form-group">
								<input type="number" class="form-control wizard-required" id="price" name='price'>
								<label for="price" class="wizard-form-text-label" >price</label>
								<div class="wizard-form-error"></div>
							</div>
                        
							<div class="form-group">
								<!-- <input type="text" class="form-control wizard-required" id="image" name='image'> -->
                <input type="file" name="image" id='image' multiple>
                <!-- <label for="image" class="wizard-form-text-label">Image</label> -->
								<div class="wizard-form-error"></div>
							</div>
						
							<div class="form-group clearfix">
								<a href="javascript:;" class="form-wizard-previous-btn float-left">Previous</a>
								<a href="javascript:;" class="form-wizard-next-btn float-right">Next</a>
							</div>
						</fieldset>	
                        <!--SECTION STEP @ 4 -->
						<fieldset class="wizard-fieldset">
							<h5>Property Information</h5>
								<div class="form-group">
								<textarea type="text" class="form-control wizard-required" id="description" name='description' rows="6"></textarea>
								<label for="description" class="wizard-form-text-label">Please Add a detail description*</label>
								<div class="wizard-form-error"></div>
							</div>
							
							<div class="form-group clearfix">
								<a href="javascript:;" class="form-wizard-previous-btn float-left">Previous</a>
								<button href="javascript:;" class="form-wizard-submit float-right">Submit</button>
							</div>
						</fieldset>	
					</form>
				</div>
			</div>
		</div>
	</section>
	
    <!-- FOOTER -->
	<footer class="footer-section">
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget company-intro-widget">
                  <a href="index.html" class="site-logo"><img src="/img/palm.png" alt="logo"></a>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                  <ul class="company-footer-contact-list">
                    <li><i class="fas fa-phone"></i>0123456789</li>
                    <li><i class="fas fa-clock"></i>Mon - Sat 8.00 - 18.00</li>
                  </ul>
                </div>
              </div><!-- widget end -->
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget course-links-widget">
                  <h5 class="widget-title">Popular Courses</h5>
                  <ul class="courses-link-list">
                    <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Academic English</a></li>
                    <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Web Technology</a></li>
                    <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>PC Systems</a></li>
                    <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Ui Web Design</a></li>
                    <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Web Development</a></li>
                    <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Apps Development</a></li>
                  </ul>
                </div>
              </div><!-- widget end -->
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget latest-news-widget">
                  <h5 class="widget-title">lastest news</h5>
                  <ul class="small-post-list">
                    <li>
                      <div class="small-post-item">
                        <a href="#" class="post-date">July 18, 2018</a>
                        <h6 class="small-post-title"><a href="#">Lorem Ipsum is simply dummy text of the printing.</a></h6>
                      </div>
                    </li><!-- small-post-item end -->
                    <li>
                      <div class="small-post-item">
                        <a href="#" class="post-date">July 28, 2018</a>
                        <h6 class="small-post-title"><a href="#">Lorem Ipsum is simply dummy text of the printing</a></h6>
                      </div>
                    </li><!-- small-post-item end -->
                  </ul>
                </div>
              </div><!-- widget end -->
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget newsletter-widget">
                  <h5 class="widget-title">Newsletter</h5>
                  <div class="footer-newsletter">
                    <p>Sign Up to Our Newsletter to Get Latest Updates & Services</p>
                    <form class="news-letter-form">
                      <input type="email" name="news-email" id="news-email" placeholder="Your email address">
                      <input type="submit" value="Send">
                    </form>
                  </div>
                </div>
              </div><!-- widget end -->
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-sm-left text-center">
                  <span class="copy-right-text">© 2121 <a href="/">Palmwood Realty</a> All Rights Reserved.</span>
                </div>
                <div class="col-md-6 col-sm-6">
                  <ul class="terms-privacy d-flex justify-content-sm-end justify-content-center">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </footer>
    <!-- Optional JavaScript; choose one of the two! -->
      <script src='/js/newListing.js'></script>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
   
    
   
  </body>
</html>